<section id="contact-form">
  <h2>Contato</h2>
  <form id="contact" name="contact" accept-charset="utf-8" action="https://mailthis.to/ilnara.ackermann@gmail.com" method="POST" >
    <label><input name="name" type="text" placeholder="Nome"/></label>
    <label><input name="email" type="email" placeholder="email@mail.com"/></label>
    <label><textarea name="message" placeholder="Sua mensagem"></textarea></label>
    <input name="submit" type="submit" value="Enviar"/>
  </form>
</section>

<section class="socials">

</section>


<section class="socials">

</section>

