<section id="contact-form">
  <h2>Contato</h2>
  <form id="contact" name="contact" accept-charset="utf-8" action="https://formsubmit.co/ilnara.ackermann@gmail.com" method="POST" >
    <label><input type="text"  name="name"placeholder="Nome" required/></label>
    <label><input type="email" name="email" placeholder="email@mail.com" required/></label>
    <label><textarea name="message" placeholder="Sua mensagem" required></textarea></label>
    <button type="submit" name="submit" >Enviar</button>
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="https://seudominio.co/thanks.html">
  </form>
</section>

<section class="socials">

</section>


<section class="socials">

</section>

