<div class="content">

  <div class="imagem">
  </div>

  <div class="title">
    <h1>Ilnara Ackermann</h1>
    <p><a href="https://github.com/ilnaraackermann" target="_blank"><i class="fa-brands fa-github"></i> github.com/ilnaraackermann</a></p>
    <p><a href="https://www.linkedin.com/in/ilnaraackermann/" target="_blank"><i class="fa-brands fa-linkedin-in"></i> linkedin.com/in/ilnaraackermann/</a></p>
    <p><a href="mailto:ilnara.ackermann@hotmail.com" target="_blank"><i class="fa-solid fa-at"></i> ilnara.ackermann@hotmail.com</a></p>
 </div>


</div>

