.float{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--primary-ligth-color);
	color:var(--secondary-dark-color);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  transition: 0.3s ease-in-out;
}
.float:hover:active{
  transform: translateY(3px);
}
.float:hover{
  transform: scale(1.1);
  color:var(--secondary-dark-color);
}
