:root {
    --primary-ligth-color: #c3eed7;
    --primary-soft-color: #e7faec;
    --secondary-dark-color: #222222;
    --secondary-dark-medium-color: #2c2c2c;
    --secondary-dark-ligth-color: #323232;
    --secondary-ligth-color: #f8f8f8;
    --secondary-soft-color: #efefef;
}