:root {
    --primary-ligth-color: #FCA311;
    --primary-soft-color: #FDB849;
    --secondary-dark-color: #000;
    --secondary-dark-medium-color: #14213d;
    --secondary-dark-ligth-color: #19294D;
    --secondary-ligth-color: #E5E5E5;
    --secondary-soft-color: #FFFFFF;
}
