:root {
    --primary-ligth-color: #FFD100;
    --primary-soft-color: #FFEE32;
    --secondary-dark-color: #202020;
    --secondary-dark-medium-color: #333533;
    --secondary-dark-ligth-color: #3b3b3b;
    --secondary-ligth-color: #f8f8f8;
    --secondary-soft-color: #efefef;
    
}