<div class="content">
<div class="sobre-skill">

    <div class="sobre">
      <h2> Sobre </h2>
      <p>Olá, meu nome é Ilnara Ackermann e sou uma entusiasta da tecnologia. Sou graduada em Administração e atualmente
        estou cursando Sistemas de Informação com previsão de conclusão em 2025. Para aprimorar meus conhecimentos, estou
        fazendo cursos na área de programação em diversas linguagens na DIO e no DEVQuest, com foco em desenvolvimento Full
        Stack e Frontend.</p>
      <p>Tenho experiência em HTML, CSS, JavaScript, Angular, React, consumo de APIs, .net, Java e Kotlin, além de
        conhecimentos na plataforma OutSystems.</p>
      <p>Estou sempre buscando novos desafios e aprendizados para me aprimorar como profissional. Seja para trabalhar em
      equipe ou individualmente, estou pronta para enfrentar qualquer desafio que venha pela frente</p>
      </div>

    <div class="skills">
      <h2> Skills</h2>
      <app-skills></app-skills>
    </div>

</div>

  <h2>Certificados</h2>
  <app-certifications></app-certifications>

</div>
